//- Include all mixins
include ../mixins/mixins

block vars
  - var pageTitle     = 'Crowbars 2017'; 
  - var pageName      = 'home';
  - var bodyClass     = 'home';

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    //[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><![endif]
    title=pageTitle
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui, user-scalable=no")
    link(rel="icon", href="favicon.png", type="image/x-icon", sizes="16x16")

    //- Additional styles
    block styles
    
    link(href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:600,600i,700,700i|Merriweather:900", rel="stylesheet")
    link(rel="stylesheet", href="css/styles.css")

    //- Additional scripts
    block head_scripts

  body(class=bodyClass)
        
    //-
    //- Site content
    //-
    block site

    script(src='js/scripts.js')
          
